<div class="container text-center">
<%= simple_form_for(@profile) do |f| %>
<% if @profile.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.input :username, label: 'Username', error: 'Username is mandatory, please specify one' %>
<%= f.input :profile_type, collection: ["student", "host",] %>
<%= f.input :first_name, label: 'First name', error: 'First name is mandatory, please specify one' %>
<%= f.input :last_name, label: 'Last name', error: 'Last name is mandatory, please specify one'  %>
<%= f.input :age, label: 'Age', error: 'should be a number ! '  %>
<%= f.input :city_from, label: 'City', error: 'City is mandatory, please specify one'%>
<%= f.input :gender, label: 'Gender' %>
<%= f.input :short_description %>
<%= f.input :detailed_description %>
<label>Your character traits (pick all that applies)</label> <br>
<% Characteristic.all.uniq { |c| c.name }.each do |characteristic| %>
    <div class="form-check form-check-inline">
      <label class="control-label check_boxes optional"></label>
      <input type="hidden" value="" />
      <input class="check_boxes optional" type="checkbox" value="<%= characteristic.id %>" />
        <%= characteristic.name %>
    </div>
<% end %>

<%= f.input :photo, as: :attachinary, label: 'Your photo' %>
<%= f.submit "Save your profile", class: "btn btn-primary" %>
<% end %>

</div>

