<h2><%= @profile.username %></h2>
<h3><%= @profile.short_description %></h3>
<p><%= @profile.city_from %></p>
<p><%= @profile.detailed_description %></p>

<% if policy(@profile).edit? %>
    <%= link_to "Update", edit_profile_path(@profile) %>
  <% end %>


    <%= link_to "Add your apartment", new_apartment_path %>


<div id="reviews">
  <h3>Reviews</h3>
  <% if @reviews_for.blank? %>
    Be the first to leave a review on <%= @profile.first_name %>'s profile :)
  <% else %>
      <% @reviews_for.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
  <% end %>
</div>

<%= simple_form_for [@profile, @review] do |f| %>
  <%= f.input :content, label: "My review", placeholder: 'A detailed review will help future students find the best hosts!' %>
  <%= f.input :rating, label: "My rating", placeholder: '0-5' %>
  <%= f.submit "submit my review", class: "btn btn-primary" %>
<% end %>
