<h2><%= @profile.username %></h2>
<h3><%= @profile.short_description %></h3>
<p><%= @profile.city_from %></p>
<p><%= @profile.detailed_description %></p>

<div id="reviews">
  <h3>Reviews</h3>
  <% if @reviews_for.blank? %>
    Be the first to leave a review on <%= @profile.first_name %>'s profile :)
  <% else %>
    <ul>
      <% @reviews_for.each do |review| %>
        <li><%= review.content %> - <%= review.rating %> stars</li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= simple_form_for [@user, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :content, label: "My review", placeholder: 'A detailed review will help future students find the best hosts!' %>
  <%= f.input :rating, label: "My rating", placeholder: '0-5' %>
  <%= f.submit "submit my review", class: "btn btn-primary" %>
<% end %>
