<section class="main-container">

  <div class="container">
    <div class="row">
     <% if policy(@profile).edit? %>
     <aside class="col-lg-4 col-xl-3 ml-xl-auto">
      <div class="sidebar">
        <!-- <div class="block clearfix"> -->
          <h3 class="title">My tools</h3>
          <div class="separator-2"></div>
          <%= link_to "Update my profile's info", edit_profile_path(@profile) %>
          <br>
          <% if @profile.user.apartment == nil && @profile.profile_type == "host" %>
          <%= link_to "Add your apartment", new_apartment_path %>
          <% end %>
        </div>
      </aside>
      <% end %>
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @profile.first_name.capitalize %>'s Profile</h1>
        <span>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star"></i>
        </span>


        <div class="separator-2"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-lg-4">
            <% if  @profile.photo? %>
            <%= cl_image_tag @profile.photo.path, width: 400, height: 400, crop: :fill %>
            <% else %>
            <%= image_tag "no-photo.png", width: 400, height: 400, crop: :fill %>
            <% end %>
          </div>
          <div class="col-lg-8">
            <h4>About Me</h4>
            my username: @<%= @profile.username %>
            <h5><%= @profile.first_name.capitalize %> - <%= @profile.age%> years old - Originally from <%= @profile.city_from%> </h5>
            <h3><%= @profile.short_description %></h3>

            <p><%= @profile.detailed_description %></p>
          </div>
        </div>
      </div>
      <section class="pv-30 light-gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="title"><%= @reviews_for.count %> reviews</h2>
              <div class="separator-2"></div>
              <!-- comments start -->
              <div class="comments margin-clear space-top">
                <% if @reviews_for.blank? %>
                  Be the first to leave a review on <%= @profile.first_name %>'s profile :)
                <% else %>
                  <% @reviews_for.each do |review| %>

                  <!-- comment start -->
                  <div class="comment clearfix">
                    <!-- AVATAR PICTURE -->
                    <div class="comment-avatar">
                      <img class="img-circle" src="images/avatar.jpg" alt="avatar">
                    </div>
                    <header>
                      <div class="comment-meta">
                        <%= review.by_user.profile.first_name.capitalize %>
                        | <%= review.created_at.strftime("%d %b. %Y") %> |
                        <% review.rating.times do %>
                        <i class="fa fa-star text-default"></i>
                        <% end %>
                      </div>
                    </header>
                    <div class="comment-content">
                      <div class="comment-body clearfix">
                        <p><%= review.content %></p>
                        <!-- <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i>Reply</a> -->
                      </div>
                    </div>
                  </div>
                  <!-- comment end -->

                  <% end %>
                <% end %>

                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <i aria-hidden="true" class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- comments end -->

              <!-- comments form start -->
              <%= render 'reviews/form' %>
              <!-- comments form end -->
            </div>

            <!-- sidebar start -->
            <!-- ================ -->


          </div>
        </div>
      </section>

    </div>
  </div>
</section>
