
<h2><%= @profile.username %></h2>
<p><%= @profile.type %></p>
<p><%= @profile.short_description %></p>
<p><%= @profile.city_from %></p>
<p><%= @profile.languages %></p>
<p><%= @profile.detailed_description %></p>
<p><%= @profile.photo %></p>

