<div class="container">
  <div id="msg-index">
    <h3>My Messages</h3>
    <div class="pannel">
      <!-- loop for list -->
      <% @conversations.each do |conversation| %>
      <!-- set important variables -->
        <% opposed_user = conversation.opposed_user(current_user) %>
        <% last_msg = conversation.messages.last %>
        <!-- list container -->
        <ul class="list-layout">
          <li class="pannel-body thread">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-3 thread-author">
                <div class="row justify-center">
                  <div class="thread-avatar col-sm-4">
                    <%= link_to profile_path(opposed_user) do %>
                      <div>
                        <% sender_photo = opposed_user.profile.photo %>
                        <% if sender_photo %>
                            <%= cl_image_tag sender_photo.path, width: 80, height: 80, radius:
                            :max, crop: :fill %>
                          <% else %>
                            <%= image_tag "no-photo.jpg", class: "rounded-circle", width: '80px'  %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-sm-8 thread-name text-truncate">
                    <div><%= opposed_user.profile.first_name.capitalize %></div>
                    <% if last_msg %>
                      <%= time_tag last_msg.created_at, last_msg.created_at.strftime('%e %b') %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-5 col-lg-7 thread-body">
                <%= link_to conversation_path(conversation), class: "thread-link" do %>
                <!-- add class when clicked link-reset text-muted -->
                  <span class="thread-subject">
                    <% if last_msg %>
                      <%= last_msg.content %>
                    <% end %>
                  </span>
                  <div class="thread__listing">
                    <%= conversation.apartment.name %>
                    <%= "#{conversation.apartment.country}, #{conversation.apartment.city}" %>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-2 thread-label">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <span>
                      <span class="thread-unread">
                        <div class="unread">
                          <% if conversation.messages.last.read %>
                            <%= link_to "Send new messages", conversation_path(conversation), class: "thread-link" %>
                          <% else %>
                            <%= link_to  "#{conversation.messages.where(read:false).count} New messages", conversation_path(conversation), class: "thread-link" %>
                          <% end %>
                        </div>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
