<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div id="chat-profile">
        <% unless @opposed_user.profile.nil? %>
        <%= link_to profile_path(@opposed_user.profile) do %>
          <% receiver_photo = @opposed_user.profile.photo %>
          <% if receiver_photo %>

              <%= cl_image_tag receiver_photo.path %>

          <% else %>
             <%= image_tag "no-photo.jpg", class: "rounded-circle", width: '80px'  %>
          <% end %>
          <% end %>
          <p class="host-name"><%= @opposed_user.profile.first_name.capitalize %></p>
          <p><%= "From #{@opposed_user.profile.city_from.capitalize}"%></p>
          <p><%= @opposed_user.profile.detailed_description %></p>

        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
        <div id="inbox">
         <%= render 'conversation', conversation: @conversation, user: @current_user, new_message: @new_message %>
        </div>
    </div>

  </div>
</div>




