<div class="divide30"></div>
<div class="container">
  <div class="col-xs-12">
    <div class="tabs container">
      <div class="tab-content">
        <div id="inbox" class="tab-pane active">


         <div class="col-xs-8 col-sd-8">
            <div class="current-conversation"><h3 class="text-center">Chat with <%= @conversation.opposed_user(@user).profile.first_name %></h3>
            </div>
            <div id="messages-list" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">
                <ul>
                    <% @conversation.messages.each do |message| %>
                    <%= render 'messages/message', user: current_user, message: message %>
                    <% end %>
                </ul>
            </div>
            <%= form_for [@conversation, @new_message], remote: true do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.text_area :content, class: "form-control" %>
              <%= f.submit "Send", id: "send_message", class: "btn buton-profile" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




