<!-- <h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
<body class="wide">
  <!-- page wrapper start -->
  <!-- ================ -->
  <div class="page-wrapper">
    <!-- background image -->
    <div class="fullscreen-bg"  style="background-image:url(https://unsplash.it/1840/649?image=1050)";></div>

    <!-- banner start -->
    <!-- ================ -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <!-- logo -->
            <!-- name-and-slogan -->
            <div class="form-block center-block p-30 light-gray-bg border-clear">
              <h2 class="title">Login</h2>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in" %>
              </div>
              <% end %>
              <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
              <span class="text-center text-muted">Login with</span>
              <ul class="social-links colored circle clearfix">
                <li class="facebook">
                  <%= link_to omniauth_authorize_path(resource_name, provider) do %>
                  <i class="fa fa-facebook"></i>
                  <% end %>
                </li>
              </ul>
              <% end -%>
              <% end -%>
              <br>
              <%= render "devise/shared/links" %>
              <br>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <p class="text-center text-muted">Don't have an account yet?
                <%= link_to "Sign up now", new_user_registration_path %><br />
                <% end -%>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- banner end -->

  </div>
  <!-- page-wrapper end -->

  <!-- JavaScript files placed at the end of the document so the pages load faster -->
  <!-- ================================================== -->
  <!-- Jquery and Bootstap core js files -->
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="plugins/jquery.min.js"></script>
  <script type="text/javascript" src="plugins/popper.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <!-- Modernizr javascript -->
  <script type="text/javascript" src="plugins/modernizr.js"></script>
  <!-- Magnific Popup javascript -->
  <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Appear javascript -->
  <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
  <!-- Count To javascript -->
  <script type="text/javascript" src="plugins/jquery.countTo.js"></script>
  <!-- Parallax javascript -->
  <script src="plugins/jquery.parallax-1.1.3.js"></script>
  <!-- Contact form -->
  <script src="plugins/jquery.validate.js"></script>
  <!-- Owl carousel javascript -->
  <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
  <!-- Initialization of Plugins -->
  <script type="text/javascript" src="js/template.js"></script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Color Switcher (Remove these lines) -->
  <script type="text/javascript" src="style-switcher/style-switcher.js"></script>
  <!-- Color Switcher End -->
  <!-- Color Switcher (Remove these lines) -->



</body>
