<div class="comment clearfix">
  <!-- AVATAR PICTURE -->
  <div class="comment-avatar">
    <% if  review.by_user.profile.photo? %>
    <%= cl_image_tag review.by_user.profile.photo.path, width: 50, height: 50, crop: :fill, class:"img-circle" %>
    <% else %>
    <%= image_tag "no-photo.png", width: 50, height: 50, crop: :fill, class:"img-circle" %>
    <% end %>
<!--   <%= image_tag review.by_user.profile.photo_url, class:"img-circle" %>
-->  </div>
<header>
  <div class="comment-meta">
    <%= review.by_user.profile.first_name.capitalize %>
    | <%= review.created_at.strftime("%d %b. %Y") %> |
    <% review.rating.times do %>
    <i class="fa fa-star text-default"></i>
    <% end %>
  </div>
</header>
<div class="comment-content">
  <div class="comment-body clearfix">
    <p><%= review.content %></p>
  </div>
</div>
</div>
