<div class="container">
  <div class="row" id="content">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for (@apartment) do |f| %>
      <!-- render error messages -->
        <% if @apartment.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @apartment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%  amenities = Amenity.all.group_by { |a| a.item_slug } %>
      <!-- new appart form -->
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :deal %>
        <%= f.input :street %>
        <%= f.input :street2 %>
        <%= f.input :city %>
        <%= f.input :zip_code %>
        <%= f.input :country%>
        <%= f.input :bedrooms %>
        <%= f.input :bathrooms %>
        <div class="room">
          <% amenities.each  do |category| %>
            <h3><%= category.first %></h3>
            <ul>
              <% category.last.each do |amenity| %>
                <li><%= f.input :street, label: amenity.name,
                  default: true,
                  as: :boolean,
                  boolean_style: :inline
                %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <%= f.button :submit, class: "btn btn-danger"  %>
     <% end %>

<!-- use collection with checkbox -->


    </div>
  </div>
</div>
