<% content_for(:title_tag) do %>
<%= @apartment.name %>
<% end %>


<p>apartment name : <%= @apartment.name %></p>
<br>
      <p>Latitude: <%= @apartment.latitude %></p>
      <p>Longitude: <%= @apartment.longitude %></p>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @apartment_coordinates.to_json %>;
    });
  <% end %>
<% end %>


      <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @apartment.latitude %>,<%= @apartment.longitude %>&zoom=14&size=640x400&markers=color:black%7C<%=@apartment.latitude%>,<%=@apartment.longitude %>&key=AIzaSyDT8rAZ6WBaIZiWYB0_9YfTxYLKeq01GY8" />
