<% content_for(:title_tag) do %>
<%= @apartment.name %>
<% end %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @apartment.photos.each do |photo| %>
    <%if photo == @apartment.photos[0] %>
    <div class="carousel-item active">
      <%= cl_image_tag photo.path, width: 1840, height: 500, crop: :fill, class: "d-block img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h3><%= @apartment.name %></h3>
        <p><%= @apartment.description %></p>
      </div>
    </div>
    <% else %>
    <div class="carousel-item">
      <%= cl_image_tag photo.path, width: 1840, height: 500, crop: :fill, class: "d-block img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h3><%= @apartment.name %></h3>
        <p><%= @apartment.description %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="main-container">

  <div class="container">
    <div class="row">
      <% if policy(@apartment).edit? %>
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <!-- <div class="block clearfix"> -->
          <h3 class="title">My tools</h3>
          <div class="separator-2"></div>
          <%= link_to "Update my apartment's infos", edit_apartment_path(@apartment) %>
          <br>
          <% if policy(@apartment).destroy? %>
          <%= link_to "Delete my apartment", apartment_path(@apartment),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </aside>
      <%end %>
    </div>




    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">


      <!-- page-title start -->
      <!-- ================ -->
      <h1 class="page-title"><%= @apartment.user.profile.first_name.capitalize %>'s Apartment
        <%= link_to '<i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>'.html_safe, conversations_path({apartment_id: @apartment.id, recipient_id: @apartment.user.id}), method: "post" %></h1>
        <% if @reviews_for.count == nil || @reviews_for.count == 0%>
        <p>This user doesn't have a rating yet</p>
        <% else %>
        <% @reviews_for.average(:rating).round.times do %>
        <i class="fa fa-star yellow-star"></i>
        <% end %>

        <% (5 - @reviews_for.average(:rating).round).times do %>
        <i class="fa fa-star text-center black-star"></i>
        <% end %>
        <% end %>
        <div class="separator-2"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-lg-4">
            <% if  @apartment.user.profile.photo? %>
            <%= cl_image_tag @apartment.user.profile.photo.path, width: 400, height: 400, crop: :fill %>
            <% else %>
            <%= image_tag "no-photo.png", width: 400, height: 400, crop: :fill %>
            <% end %>
          </div>
          <div class="col-lg-4">
            <h2>About Me</h2>
            <p><%= @apartment.user.profile.first_name.capitalize %> - <%= @apartment.user.profile.age%> years old - Originally from <%= @apartment.user.profile.city_from%> </p>
            <p><%= @apartment.user.profile.detailed_description %></p>
            <h2>What you'll have to do in exchange for free housing</h2>
            <p><%= @apartment.deal %></p>
          </div>
          <div class="col-lg-4">


            <!-- booking form start -->
          <% if current_user.profile %>
            <% if @current_user.profile.profile_type == "student" %>

              <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                <div class="container">
                  <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                    <%= simple_form_for [@apartment, @booking] do |f| %>
                    <%= f.input :start_date, as: :date %>
                    <%= f.input :end_date, as: :date %>
                    <%= f.button :submit, class: "btn btn-primary"  %>
                    <% end %>
                  </div>
                </div>
              <!-- booking form end -->
              </div>
            <% end %>
            <% else %>
            <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                <div class="container">
                <p>You have to be a student to be able to book an apartment</p>
                <p>Please create your <%= link_to "profile", new_profile_path %></p>

                </div>
                </div>
          <% end %>
          </div>
        </div>
      </section>
      <section class="pv-30 light-gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs style-4" id="myTab" role="tablist">
                <li class="nav-item"><a class="show-nav-link nav-link active" href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-1"></i>More about the housing</a></li>
                <li class="nav-item"><a class="show-nav-link nav-link" href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-1"></i><%= @reviews_for.count %> Reviews</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content padding-top-clear padding-bottom-clear">
                <div class="tab-pane active" id="h2tab2">
                  <dl class="row">
                    <% if @amenities.count != 0 %>
                    <% @amenities.each  do |category| %>
                    <dt class="col-sm-3 text-sm-right"><%= category.first %></dt>
                    <dd class="col-sm-9">
                      <% category.last.each do |amenity| %>
                      - <%= amenity.name %>
                      <%end %>
                    </dd>
                    <% end %>
                    <% else %>
                    <dt>This user hasn't added any more info yet</dt>
                    <% end %>
                  </dl>
                  <hr>
                </div>
                <div class="tab-pane" id="h2tab3">

                  <!-- comments start -->
                  <div class="comments margin-clear space-top">
                    <!-- comment start -->
                    <% if @reviews_for.blank? %>
                    Be the first to leave a review on <%= @user.profile.first_name %>'s profile :)
                    <% else %>
                    <% @reviews_for.each do |review| %>
                    <!-- comment start -->
                    <%= render 'reviews/show', review: review %>
                    <!-- comment end -->
                    <% end %>
                    <% end %>
                    <!-- FORM STARTS -->
                    <% if current_user %>
                    <% unless @cannot_review %>
                    <%= render 'reviews/form', profile: @user.profile, review: @review %>
                    <% end %>
                    <% end %>
                    <!-- FORM ENDS -->
                  </div>
                </div>
              </div>
            </div>
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <div class="sidebar">
                <div class="block clearfix">
                  <h3 class="title">Map</h3>
                  <div class="separator-2"></div>
                  <img id="map-index" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @apartment.latitude %>,<%= @apartment.longitude %>&key=AIzaSyDT8rAZ6WBaIZiWYB0_9YfTxYLKeq01GY8&zoom=14&size=600x400&markers=color:red%7C<%=@apartment.latitude%>,<%=@apartment.longitude %>" />
                </div>
              </div>
            </aside>
            <!-- sidebar end -->

          </div>
        </div>
      </section>


      <% content_for :after_js do %>
      <script>
        $('#myTab a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
        })

        $(".carousel-control-next").click(function() {
          var c = $("#myCarousel")
          c.next();
          console.log('HEY', c);
        });
//   $('.carousel').carousel()
//   $('.carousel').carousel({
//   interval: 2000
// })
  // $('.carousel').carousel('next')
</script>
<% end %>

