<% content_for(:title_tag) do %>
<%= @apartment.name %>
<% end %>


<p>apartment name : <%= @apartment.name %></p>
<br>
      <p>Latitude: <%= @apartment.latitude %></p>
      <p>Longitude: <%= @apartment.longitude %></p>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @apartment_coordinates.to_json %>;
    });
  <% end %>
<% end %>
<br>
<h2>description:</h2>
<p><%= @apartment.description %></p>
<h2>owner:</h2>
<p><%= link_to @apartment.user.profile.first_name,
  conversations_path(apartment_id: @apartment.id,recipient_id: @apartment.user.id),
  method: :POST
   %></p>
<%= link_to "back to list", apartments_path %>

<% @amenities.each  do |category| %>
  <div class="room">
    <h3><%= category.first %></h3>
    <ul>
      <% category.last.each do |amenity| %>
        <li><%= amenity.name %></li>
      <%end %>
    </ul>
  </div>
<% end %>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @apartment.latitude %>,<%= @apartment.longitude %>&key=AIzaSyDT8rAZ6WBaIZiWYB0_9YfTxYLKeq01GY8&zoom=14&size=640x400&markers=color:red%7C<%=@apartment.latitude%>,<%=@apartment.longitude %>" />

