<% content_for(:title_tag) do %>
<%= @apartment.name %>
<% end %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @apartment.photos.each do |photo| %>
    <%if photo == @apartment.photos[0] %>
    <div class="carousel-item active">
     <%= cl_image_tag photo.path, width: 1840, height: 500, crop: :fill, class: "d-block img-fluid" %>
     <div class="carousel-caption d-none d-md-block"">
      <h3><%= @apartment.name %></h3>
      <p><%= @apartment.description %></p>
    </div>
  </div>
  <% else %>
  <div class="carousel-item">
   <%= cl_image_tag photo.path, width: 1840, height: 500, crop: :fill, class: "d-block img-fluid" %>
   <div class="carousel-caption d-none d-md-block"">
    <h3><%= @apartment.name %></h3>
    <p><%= @apartment.description %></p>
  </div>
</div>
<% end %>

<% end %>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>


<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title"><%= @apartment.user.profile.first_name.capitalize %>'s Apartment</h1>
        <span>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star"></i>
        </span>


        <div class="separator-2"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-lg-4">
          <% if  @apartment.user.profile.photo? %>
            <%= cl_image_tag @apartment.user.profile.photo.path, width: 400, height: 400, crop: :fill %>
            <% else %>
            <%= image_tag "no-photo.png", width: 400, height: 400, crop: :fill %>
            <% end %>
          </div>
          <div class="col-lg-8">
            <h4>About Me</h4>
            <h5><%= @apartment.user.profile.first_name.capitalize %> - <%= @apartment.user.profile.age%> years old - Originally from <%= @apartment.user.profile.city_from%> </h5>
            <p><%= @apartment.user.profile.detailed_description %></p>
            <h4>What you'll have to do in exchange for free housing</h4>
            <p><%= @apartment.deal %></p>


          </div>
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<section class="pv-30 light-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="title">More info</h3>
        <div class="separator-2"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs style-4" id="myTab" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-1"></i>More about the housing</a></li>
          <li class="nav-item"><a class="nav-link" href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-1"></i>Reviews</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content padding-top-clear padding-bottom-clear">
          <div class="tab-pane active" id="h2tab2">
            <dl class="row">
            <% if @amenities.count != 0 %>
              <% @amenities.each  do |category| %>
                <dt class="col-sm-3 text-sm-right"><%= category.first %></dt>
                <dd class="col-sm-9">
                  <% category.last.each do |amenity| %>
                    - <%= amenity.name %>
                  <%end %>
                </dd>
              <% end %>
            <% else %>
              <dt>This user hasn't added any more info yet</dt>
            <% end %>
            </dl>
            <hr>
          </div>
          <div class="tab-pane" id="h2tab3">
            <!-- comments start -->
            <div class="comments margin-clear space-top">
              <!-- comment start -->
              <div class="comment clearfix">
                <div class="comment-avatar">
                  <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                </div>
                <header>
                  <h3>Amazing!</h3>
                  <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 12:31</div>
                </header>
                <div class="comment-content">
                  <div class="comment-body clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                  </div>
                </div>
              </div>
              <!-- comment end -->

              <!-- comment start -->
              <div class="comment clearfix">
                <div class="comment-avatar">
                  <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                </div>
                <header>
                  <h3>Really Nice!</h3>
                  <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 10:31</div>
                </header>
                <div class="comment-content">
                  <div class="comment-body clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                  </div>
                </div>
              </div>
              <!-- comment end -->

              <!-- comment start -->
              <div class="comment clearfix">
                <div class="comment-avatar">
                  <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                </div>
                <header>
                  <h3>Worth to Buy!</h3>
                  <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 09:31</div>
                </header>
                <div class="comment-content">
                  <div class="comment-body clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                  </div>
                </div>
              </div>
              <!-- comment end -->
            </div>
            <!-- comments end -->

            <!-- comments form start -->
            <div class="comments-form">
              <h2 class="title">Add your Review</h2>
              <form id="comment-form">
                <div class="form-group has-feedback">
                  <label for="name4">Name</label>
                  <input type="text" class="form-control" id="name4" placeholder="" name="name4" required="">
                  <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                  <label for="subject4">Subject</label>
                  <input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required="">
                  <i class="fa fa-pencil form-control-feedback"></i>
                </div>
                <div class="form-group">
                  <label>Rating</label>
                  <select class="form-control" id="review">
                    <option value="five">5</option>
                    <option value="four">4</option>
                    <option value="three">3</option>
                    <option value="two">2</option>
                    <option value="one">1</option>
                  </select>
                </div>
                <div class="form-group has-feedback">
                  <label for="message4">Message</label>
                  <textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required=""></textarea>
                  <i class="fa fa-envelope-o form-control-feedback"></i>
                </div>
                <input type="submit" value="Submit" class="btn btn-default">
              </form>
            </div>
            <!-- comments form end -->
          </div>
        </div>
      </div>

      <!-- sidebar start -->
      <!-- ================ -->
      <aside class="col-lg-4 col-xl-3 ml-xl-auto">
        <div class="sidebar">
          <!-- <div class="block clearfix"> -->
          <h3 class="title">Map</h3>
          <div class="separator-2"></div>
          <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @apartment.latitude %>,<%= @apartment.longitude %>&key=AIzaSyDT8rAZ6WBaIZiWYB0_9YfTxYLKeq01GY8&zoom=14&size=600x400&markers=color:red%7C<%=@apartment.latitude%>,<%=@apartment.longitude %>" />
        </div>
      </aside>
      <!-- sidebar end -->

    </div>
  </div>
</section>


<% content_for :after_js do %>
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('.carousel').carousel()
  $('.carousel').carousel({
  interval: 2000
})
  $('.carousel').carousel('next')
</script>
<% end %>

