<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="HtmlCoder">
  <meta name="copyright" content="HtmlCoder">
  <meta name="generator" content="Documenter v2.0 http://rxa.li/documenter">
  <meta name="date" content="2014-07-20T00:00:00+02:00">

  <link rel="stylesheet" href="theme/js/google-code-prettify/prettify.css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway:500|Roboto|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <title><%= yield(:title_tag).blank? ? "Stay at Mamie's" : yield(:title_tag) %></title>

</head>
<body>
  <!--   <div class="sticky-wrapper" style="height: 82px;"> -->
  <div class="page-wrapper">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!--   </div> -->
  <%= yield %>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>

  <%= render 'shared/footer' unless @skip_footer %>
</div>

  <script src="/theme/js/google-code-prettify/prettify.js"></script>
  <script src="/theme/js/jquery.js"></script>
  <script src="/theme/js/jquery.scrollTo.js"></script>
  <script src="/theme/js/jquery.easing.js"></script>
  <script>document.createElement('section');var duration='500',easing='swing';</script>
  <script src="/theme/js/script.js"></script>
  <%= yield(:after_js) %>
</body>
</html>
